Pods/Pods.xcodeproj/xcuserdata/mark2.xcuserdatad/xcschemes/Pods-EmerShool.xcscheme
Pods/Pods.xcodeproj/xcuserdata/mark2.xcuserdatad/xcschemes/QRCodeReaderViewController.xcscheme
Pods/Pods.xcodeproj/xcuserdata/mark2.xcuserdatad/xcschemes/xcschememanagement.plist
